* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
label {
    padding: 0px;
    margin: 0px;
}

/*** Header Start ***/
.heasdermain {
    background-color: #ffffff;
    box-shadow: 3px 3px 5px 0px #ccc;
    padding: 20px 0px;
    width: 100%;
}

.heasdermainactv {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 3px 3px 5px 0px #ccc;
    padding: 20px 0px;
    z-index: 2;
}


.headerdivmain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custcontainer {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.headerbarsearch {
    width: 100%;
    max-width: 48%;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.barheader{
    background-color: #fff;
    width: 100%;
    max-width: 5%;
    min-width: 5%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #ccc;
    border: 1px solid #ccc;
}
.barheader i {
    font-size: 17px;
    color: #000;
    align-self: center;
}

.inputdivheader {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.inputdivheader input {
    position: relative;
    width: 100%;
    padding: 15px 40px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
    border-radius: 5px;
    border: 2px solid #ccccccde;
}
.inputdivheader input:focus{
    outline: none;
}
.inputsearch i {
    position: absolute;
    top: 16px;
    left: 9px;
}
.inputdivheader input::placeholder{
    font-size: 14px;
    line-height: 18px;
    margin-right: 10px;
    color: #000000;
}
.headerotherdetails{
    width: 100%;
    max-width: 48%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

/*** Header End ***/